<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterFace</servlet-name>
    <servlet-class>com.xixi.servlet.RegisterFace</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginface</servlet-name>
    <servlet-class>com.xixi.servlet.LoginFace</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.xixi.servlet.test</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>RegisterFace</servlet-name>
    <url-pattern>/servlet/RegisterFace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginface</servlet-name>
    <url-pattern>/servlet/LoginFace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>facelogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>
